/* davinci.css
 *
 * Jim Stewart
 * 02 Dec 2003
 *
 * CSS for Davinci HTML documentation.
 *
 */

body {
        background-color: #ffffff;
        color: #000000;
        font-family: "Trebuchet",sans-serif;
        font-size: 12px;
}

a {
        text-decoration: none;
        color: #ff8000;
}

a:hover {
        color: #ff0000;
}

h1 {
        font-size: 24px;
        color: #4e6baa;
}

h2 {
        font-size: 18px;
        color: #4e6baa;
}

h3 {
        font-size: 12px;
        color: #4e6baa;
}

h1.header {
        text-align: right;
        background-color: #4e6baa;
        color: #ffffff;
        padding: 6px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 1px solid #000;

}

p.code {
         color: #ff00ff;
         font-family: monospace;
         margin-left: 16px;
}

p.output {
           color: #00a0a0;
           font-family: monospace;
           margin-left: 16px;
}

p.smallfont { 
              font-size: 10px;
}

.box {
       border-top: 1px solid #4e6baa;
       border-left: 1px solid #4e6baa;
       padding-left: 8px;
}

.api dt {
          color: #4e6baa;
          font-family: monospace;
          margin-bottom: 8px;
}

.api table {
             border: none;
}

.api th { 
          color: #4e6baa;
          font-size: 12px;
          font-weight: normal;
          font-style: italic;
          font-family: monospace;
          text-align: left;
          padding-right: 8px;
}

.api td { 
          font-size: 12px;
}

.contents li {
               list-style: circle outside;
}

.widgetlist table {
                    border-collapse: collapse;
                    margin-left: 16px;
}

.widgetlist colgroup { border-right: 1px solid #000; }

.widgetlist tr:first-child { border-bottom: 1px solid #000; }

.widgetlist th { 
                 color: #4e6baa;
                 font-size: 12px;
                 padding-left: 2px;
                 padding-right: 2px;
                 text-align: left;
}

.widgetlist td {
                 font-size: 12px;
                 padding-left: 2px;
                 padding-right: 2px;
}

code.dv {
         color: #ff00ff;
}

code.output {
              color: #00a0a0;
}
